<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/home/login.js" defer></script>
</head>
<body>

<input type="text" id="id" name="id" value="" placeholder="아이디를 입력하세요"/>
<input type="password" id="psword" name="psword" value="" placeholder="패스워드를 입력하세요"/>
<button>로그인</button>

</body>
</html>


